<footer role="contentinfo" id="site_footer">
<div class="row footer">
	<div class="container">
		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
			<a href="http://www.paris.fr" title="Paris.fr [#i18n{portal.site.portal_footer.newWindow}]" target="_blank"><img src="images/logo_mdp.png" alt="Paris.fr"></a>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
			<ul>
				<li>
					<a href="http://www.paris.fr/" title="Paris.fr [#i18n{portal.site.portal_footer.newWindow}]" target="_blank"><strong>Paris.fr</strong></a>
				</li>
				<li>
					<a href="http://www.paris.fr/mentions-legales" title="#i18n{portal.site.portal_footer.labelInfo} [#i18n{portal.site.portal_footer.newWindow}]" target="_blank">#i18n{portal.site.portal_footer.labelInfo}</a>
				</li>
				<li>
					<a href="https://lutece.paris.fr" title="lutece [#i18n{portal.site.portal_footer.newWindow}]" target="_blank">#i18n{portal.site.portal_footer.labelMadeBy}</a>
				</li>
				<li>
					<a href="https://teleservices.paris.fr/rdvtitres/jsp/site/Portal.jsp?page=htmlpage&htmlpage_id=4" title="lutece [#i18n{portal.site.portal_footer.newWindow}]" target="_self">Accessibilité : non conforme</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>